/* Remove existing styles that might interfere */
* {
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.90rem;
}

li {
    display: inline;
}

/* Navigation Styles */
.navigation {
    background-color: black;
    display: flex;
    width: 100%;
    color: white;
    height: 40px;
}

.navigation-list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#navigation-list-green {
    background-color: green;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation-list li {
    padding: 0 12px;
}

#navigation-list-green-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navigation-list-green-content img {
    height: 12px;
    width: 12px;
    margin-right: 6px;
}

.navigation-list-desktop {
    display: none;
}

.navigation-list-mobile-dropdown {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation-list-mobile-dropdown img {
    height: 18px;
    width: 18px;
    margin-right: 6px;
}

.navigation-list-mobile-dropdown img:hover {
    cursor: pointer;
}

.navigation-list-mobile-dropdown-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    position: absolute;
    top: 40px;
    right: 2px;
    z-index: 1;
    width: 40%;
}

.navigation-list-mobile-dropdown-list li {
    border: 1px solid;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

/* Banner Styles */
.banner {
    background-image: url("./Public/Images/landing-page-desert.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;

    display: flex;
    align-items: end;
}

.banner-text {
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: black;
    padding: 10px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}



/* Meet the team */
.section-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.section-team-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.section-team-header>* {
    margin: 4px 0;
}

.section-team-members {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.section-team-members-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-team-members-member:not(:first-child) {
    margin-top: 10px;
}

.section-team-members-member-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

    /* background-image: url("./Public/Images/face1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.section-team-members-member-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: 50% 50%;
}

.section-team-members-member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;

}

.section-team-members-member-info>* {
    margin: 2px 0px;
}

/* Our work */
.section-work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #46474e;
    padding: 40px 0;

}

.section-work-description {
    color: white;
    margin-left: 8px;
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 20px;
}

.section-work-description h2 {
    margin: 10px 0;
}

.section-work-examples {
    margin-right: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
}

.section-work-examples-example {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section-work-examples-example-image {
    width: 100%;
}

.section-work-examples-example-image img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    object-position: 50% 50%;
}

.section-work-examples-example-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5px;
    padding: 0 10px;
}

.section-work-examples-example-text-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-work-examples-example-text-list-item {
    margin: 4px 0;
}

.section-work-examples-example-text-list-item:last-child {
    margin-bottom: 10px;
}

/* Contact */
.section-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 10px;
}

.section-contact-plus {
    position: absolute;
    right: 0;
    transform: translateY(-50%) translateY(-40px);

    width: 30px;
    height: 30px;
    background-color: #009688;
    border-radius: 50%;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contact-plus img {
    width: 50%;
    height: 50%;
}

.section-contact-details {}

#section-contact-details-header {
    text-decoration: underline solid #009688;
    text-decoration-thickness: 4px;
    margin-bottom: 18px;
}

.section-contact-details-item {
    margin: 15px 0;
}

.section-contact-details-container {
    display: flex;
    margin: 15px 0;
    align-items: center;
}

.section-contact-details-container img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin-right: 2px;
}

.section-contact-form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 15px;

}

.section-contact-form-input {
    border: none;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.section-contact-form-container {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-contact-form-container label {
    display: flex;
    align-items: center;
}

.section-contact-form-checkbox {
    margin-right: 8px;
}

.section-contact-form-submit {
    padding: 10px 20px;
    color: white;
    background-color: black;
    display: flex;
}

/* Follow us */
.footer {
    position: relative;

    background-color: black;
    color: white;
    padding: 100px 100px;
}

.footer-up {
    position: absolute;
    right: 0;
    transform: translateY(-50%) translateY(-100px);

    width: 30px;
    height: 30px;
    background-color: black;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-up img {
    width: 50%;
    height: 50%;
}

.footer-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-follow-socials {
    display: flex;
    margin-top: 10px;
}

.footer-follow-socials-social {
    width: 30px;
    height: 30px;
    margin: 0 4px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-follow-socials-social img {
    width: 50%;
    height: 50%;
}

/* Desktop Styles */
@media (min-width: 640px) {

    /* Global Styles */
    * {
        font-size: 1rem;
    }

    /* Navigation Styles */
    .navigation-list {
        justify-content: start;

    }

    #navigation-list-green-content img {
        height: 15px;
        width: 15px;
        margin-right: 6px;
    }

    .navigation-list-desktop {
        display: flex;
    }

    .navigation-list-mobile-dropdown {
        display: none;
    }


    /* Banner Styles */
    .banner {
        height: 60vh;
    }

    /* Team members */
    .section-team-members {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Our work */
    .section-work {
        flex-direction: row;
    }

    .section-work-description {
        width: 20%;
    }

    .section-work-examples {
        margin-left: 4px;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 2;
    }

    .section-work-examples-example:not(:last-child) {
        margin-right: 10px;
    }

    /* Contact */
    .section-contact {
        flex-direction: row;
    }

    .section-contact-details {
        width: 40%;
    }
}